@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img  {
  max-width: 100%;
}

body {
  margin: 0 auto;
  font-family: "Poppins", '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.nav-bar{
  display: flex;
  min-height: 4rem;
  max-height: 10rem;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(218, 218, 218, 0.849);
  background-color: rgba(233, 233, 233, 0.993);
  -webkit-box-shadow: 0px 17px 61px -3px rgb(221, 221, 221);
  -moz-box-shadow: 0px 17px 61px -3px rgba(204, 204, 204, 0.849);
  box-shadow: 0px 17px 61px -3px rgba(204, 204, 204, 0.829);
}

.nav-bar .logo {
  width: 20%;
  padding: 1rem;
  object-fit: contain;
  border-radius: 1.5rem;
}

/* main container component */
.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
}

/* tweet container section */
.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* tweet image component */
.tweet-image-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-image {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.tweet-content {
  padding: 1rem;
  max-width: 300px;
  background-color: white;
}

.profile-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
  border-radius: 50%;
}

.name {
  padding: auto;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1rem;
}

.verified-badge {
  width: 1rem;
  height: 1rem;
  margin-left: .2rem;
}

.username {
  font-size: .75rem;
  line-height: 1rem;
}

.tweet-text {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: .5rem;
  white-space: pre-wrap;
}

/* Image Controller component */

.config-section {
  max-width: 360px;
}

.heading {
  outline: none;
}

.tablist {
  list-style: none;
}

.tab{
  font-size: .9rem;
  cursor: pointer;
  outline: none;
}

.tab:hover {
  color: #0066ff
}

.search-section {
  max-width: 19rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-flow: dense;
  gap: .3rem;
  max-height: 17rem;
  overflow: scroll;
  padding: .6rem;
}

.search-img { 
  max-width: 130px;
  border-radius: 5px;
  cursor: pointer;
}

/* Lists */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.list-non-bullet {
  list-style-type: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* footer */
footer {
  background-color: var(--dark-blue);
  padding: 2rem 1rem 1rem;
  text-align: center;
  /* border-top-right-radius: 3rem; */
}

footer .link {
  color: var(--primary-color);
  padding-inline-start: 0px;
}

footer .footer-header {
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
}

footer ul {
  padding-inline-start: 0px;
}

footer ul li a:hover {
  color: var(--dark-gray);
}

footer li a img {
  max-width: 1.8rem;
  opacity: 85%;
}

footer li a img:hover,
footer li a img:focus {
  opacity: 100%;
}

@media (min-width: 950px) {
  
}

